---------------------------------------------------------
    <h1>{kaese} - inhalt von foo</h1>
    <!--
    # daten aus:
    #    typo3conf/ext/content_elements/Classes/DataProcessing/NewContentElementProcessor.php
    #   $processedData['data']['header'] = "<b>" . $processedData['data']['header'] . "</b>";
    # f:format raw : formatiere es als html
    -->
    <f:format.raw>{data.header}</f:format.raw>
    <p> hier ist das neue element</p>
---------------------------------------------------------